.navbar-light .navbar-brand {
    font-family: 'Raleway', sans-serif;
    margin-top: auto;
    width: auto;
    padding-left: 10px;
    padding-top: 20px;
    font-weight: bold;
    font-size: xxx-large;
    color: dimgrey;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.search-txt {
    font-size: medium;
}

.nav-logo {
    height: 2rem;
    margin: 0.65rem 0;
}

.navbar-nav {
    justify-content: center;
}

.search-box {
    padding: 10px;
    border-top: thick;
    border-right: hidden;
    border-left: hidden;
}

.search-txt {
    border-top: hidden;
    border-right: hidden;
    border-left: hidden;
    min-width: 50vw;
}

.search-btn {
    border: hidden;
    background: white;
}

.fa-shopping-cart {
    color: dimgrey;
}

.fa-search:before {
    color: dimgray;
}

@media (min-width: 620px) {
    .search-txt {
        min-width: 450px;
    }
}
