footer {
    height: 180px;
    background-color: #000000;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    font-family: Inter;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    position: absolute;
}

.this-website-is-for {
    height: 65px;
    width: 570px;
}

.travel-technology-co {
    text-align: right;
}

.travel-technology-co > div {
    display: inline-flex;
    align-items: center;
}

.travel-technology-co > div > p {
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 700;
    padding-left: 5px;
}

.travel-technology-co img {
    filter: grayscale(100%);
}

.travel-technology-co > a {
    text-decoration: none;
    color:#6DB3F1;
}