@error-color: #ff4f4f;
@error-border-color: #ff0000;
@error-notification-backcolor: beige;

.error-message {
    font-size: 16px;
    color: @error-color;
    margin: 0;
    font-family: "Inter Semi-bold 600", sans-serif;
}

.input-validation-error {
    border: 2px solid @error-border-color !important;
}

.validation-error {
    font-size: 0.8rem;
    color: @error-color;
}

.error-notification {
    font-size: 2rem;
    color: @error-color;
    text-align: center;
    background-color: @error-notification-backcolor;
    border-radius: 4px;
    margin: 0 10rem;
}
