@notification-msg-backcolor: #2B4681;

.notification-message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px 35px 34px 35px;
    background-color: @notification-msg-backcolor;
    max-width: 280px;
    min-height: 180px;
    opacity: 0.9;
    border-radius: 4px;
}
