@header-backcolor: #ffffff;
@navbar-color: #556B7A;

header {
    height: 54px;
    background-color: @header-backcolor;
    text-align: center;
}

.nav-container {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    color: @navbar-color;
}

.nav-links-container {
    display: flex;
    justify-content: flex-end;
}

.nav-links-width {
    width: 350px;
}

.nav-links {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: @navbar-color;
    padding: 0 15px;
}

.nav-logo {
    height: 2rem;
    margin: 0.65rem 0;
}
